In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("data.csv")

In [3]:
df

,Airline_Name,Food_&_Beverages,Inflight_Entertainment,Seat_Comfort,Staff_Service,Value_for_Money,Review_Count,Rating
0,AB Aviation,2,0,3,3,2,3,4
1,Adria Airways,3,2,3,3,3,91,6
2,Aegean Airlines,4,2,4,4,4,605,8
3,Aer Lingus,3,2,3,4,3,789,6
4,Aero VIP,0,0,4,4,4,3,9
...,...,...,...,...,...,...,...,...
510,XL Airways France,3,2,2,3,3,78,5
511,Yakutia Airlines,3,0,3,3,4,4,6
512,Yangon Airways,4,0,5,4,4,4,9
513,Yemenia,0,0,0,0,4,24,4
514,Yeti Airlines,3,0,3,3,4,3,6

In [7]:
Grouping Airline Name with Just the Rating = df.groupby(['Airline_Name'])['Rating'].sum()

Airline_Name
AB Aviation               4
ANA All Nippon Airways    8
ASKY Airlines             3
ATA Airlines              2
Adria Airways             6
                         ..
easyJet                   5
euroAtlantic Airways      2
fastjet                   4
flyadeal                  2
flydubai                  4
Name: Rating, Length: 514, dtype: int64

In [8]:
Slicing Just Value for Money = df['Value_for_Money']

0      2
1      3
2      4
3      3
4      4
      ..
510    3
511    4
512    4
513    4
514    4
Name: Value_for_Money, Length: 515, dtype: int64

In [9]:
Slicing the 2nd to 5th Variable for Value for Money = df['Value_for_Money'][1:5]

1    3
2    4
3    3
4    4
Name: Value_for_Money, dtype: int64

In [16]:
If I Wanted to Find all the Rows and Columns for the First 5 Airlines = df.loc[:].head()

,Airline_Name,Food_&_Beverages,Inflight_Entertainment,Seat_Comfort,Staff_Service,Value_for_Money,Review_Count,Rating
0,AB Aviation,2,0,3,3,2,3,4
1,Adria Airways,3,2,3,3,3,91,6
2,Aegean Airlines,4,2,4,4,4,605,8
3,Aer Lingus,3,2,3,4,3,789,6
4,Aero VIP,0,0,4,4,4,3,9

In [20]:
If I Wanted to Find all Rows and Columns for the First 5 Airlines Excluding Overall Rating = df.loc[:, 'Airline_Name':'Review_Count'].head()

,Airline_Name,Food_&_Beverages,Inflight_Entertainment,Seat_Comfort,Staff_Service,Value_for_Money,Review_Count
0,AB Aviation,2,0,3,3,2,3
1,Adria Airways,3,2,3,3,3,91
2,Aegean Airlines,4,2,4,4,4,605
3,Aer Lingus,3,2,3,4,3,789
4,Aero VIP,0,0,4,4,4,3

In [22]:
If I wanted all Information for the 2nd to 5th Airline = df.iloc[1:5, :]

,Airline_Name,Food_&_Beverages,Inflight_Entertainment,Seat_Comfort,Staff_Service,Value_for_Money,Review_Count,Rating
1,Adria Airways,3,2,3,3,3,91,6
2,Aegean Airlines,4,2,4,4,4,605,8
3,Aer Lingus,3,2,3,4,3,789,6
4,Aero VIP,0,0,4,4,4,3,9

In [26]:
for ind, row in df.iterrows():   If I wanted to Print each Airlines Details One by One. Not very Beneficial as it can look messy
    print(ind,row)

0 Airline_Name              AB Aviation
Food_&_Beverages                    2
Inflight_Entertainment              0
Seat_Comfort                        3
Staff_Service                       3
Value_for_Money                     2
Review_Count                        3
Rating                              4
Name: 0, dtype: object
1 Airline_Name              Adria Airways
Food_&_Beverages                      3
Inflight_Entertainment                2
Seat_Comfort                          3
Staff_Service                         3
Value_for_Money                       3
Review_Count                         91
Rating                                6
Name: 1, dtype: object
2 Airline_Name              Aegean Airlines
Food_&_Beverages                        4
Inflight_Entertainment                  2
Seat_Comfort                            4
Staff_Service                           4
Value_for_Money                         4
Review_Count                          605
Rating                                  8
Name: 2, dtype: object
3 Airline_Name              Aer Lingus
Food_&_Beverages                   3
Inflight_Entertainment             2
Seat_Comfort                       3
Staff_Service                      4
Value_for_Money                    3
Review_Count                     789
Rating                             6
Name: 3, dtype: object
4 Airline_Name              Aero VIP
Food_&_Beverages                 0
Inflight_Entertainment           0
Seat_Comfort                     4
Staff_Service                    4
Value_for_Money                  4
Review_Count                     3
Rating                           9
Name: 4, dtype: object
5 Airline_Name              Aerocaribbean
Food_&_Beverages                      0
Inflight_Entertainment                0
Seat_Comfort                          0
Staff_Service                         0
Value_for_Money                       4
Review_Count                          3
Rating                                3
Name: 5, dtype: object
6 Airline_Name              Aeroflot Russian Airlines
Food_&_Beverages                                  3
Inflight_Entertainment                            3
Seat_Comfort                                      3
Staff_Service                                     4
Value_for_Money                                   4
Review_Count                                    575
Rating                                            6
Name: 6, dtype: object
7 Airline_Name              Aerolineas Argentinas
Food_&_Beverages                              3
Inflight_Entertainment                        2
Seat_Comfort                                  3
Staff_Service                                 3
Value_for_Money                               3
Review_Count                                225
Rating                                        5
Name: 7, dtype: object
8 Airline_Name              Aeromar
Food_&_Beverages                2
Inflight_Entertainment          1
Seat_Comfort                    3
Staff_Service                   2
Value_for_Money                 2
Review_Count                    9
Rating                          3
Name: 8, dtype: object
9 Airline_Name              Aeromexico
Food_&_Beverages                   3
Inflight_Entertainment             3
Seat_Comfort                       3
Staff_Service                      3
Value_for_Money                    3
Review_Count                     499
Rating                             5
Name: 9, dtype: object
10 Airline_Name              Aerosur
Food_&_Beverages                3
Inflight_Entertainment          2
Seat_Comfort                    2
Staff_Service                   3
Value_for_Money                 2
Review_Count                   11
Rating                          5
Name: 10, dtype: object
11 Airline_Name              Africa World Airlines
Food_&_Beverages                              4
Inflight_Entertainment                        2
Seat_Comfort                                  3
Staff_Service                                 4
Value_for_Money                               2
Review_Count                                  5
Rating                                        4
Name: 11, dtype: object
12 Airline_Name              Afriqiyah Airways
Food_&_Beverages                          0
Inflight_Entertainment                    0
Seat_Comfort                              0
Staff_Service                             0
Value_for_Money                           3
Review_Count                             29
Rating                                    5
Name: 12, dtype: object
13 Airline_Name              Aigle Azur
Food_&_Beverages                   1
Inflight_Entertainment             1
Seat_Comfort                       3
Staff_Service                      2
Value_for_Money                    2
Review_Count                      14
Rating                             4
Name: 13, dtype: object
14 Airline_Name              Air Algerie
Food_&_Beverages                    3
Inflight_Entertainment              1
Seat_Comfort                        2
Staff_Service                       3
Value_for_Money                     3
Review_Count                       46
Rating                              4
Name: 14, dtype: object
15 Airline_Name              Air Antilles
Food_&_Beverages                     1
Inflight_Entertainment               1
Seat_Comfort                         3
Staff_Service                        3
Value_for_Money                      3
Review_Count                         2
Rating                               6
Name: 15, dtype: object
16 Airline_Name              Air Arabia
Food_&_Beverages                   2
Inflight_Entertainment             1
Seat_Comfort                       2
Staff_Service                      2
Value_for_Money                    2
Review_Count                     102
Rating                             3
Name: 16, dtype: object
17 Airline_Name              Air Astana
Food_&_Beverages                   4
Inflight_Entertainment             4
Seat_Comfort                       4
Staff_Service                      4
Value_for_Money                    4
Review_Count                     230
Rating                             8
Name: 17, dtype: object
18 Airline_Name              Air Austral
Food_&_Beverages                    3
Inflight_Entertainment              3
Seat_Comfort                        3
Staff_Service                       3
Value_for_Money                     3
Review_Count                       44
Rating                              6
Name: 18, dtype: object
19 Airline_Name              Air Bagan
Food_&_Beverages                  4
Inflight_Entertainment            2
Seat_Comfort                      4
Staff_Service                     5
Value_for_Money                   4
Review_Count                     16
Rating                            6
Name: 19, dtype: object
20 Airline_Name              Air Berlin
Food_&_Beverages                   3
Inflight_Entertainment             3
Seat_Comfort                       3
Staff_Service                      3
Value_for_Money                    3
Review_Count                     483
Rating                             5
Name: 20, dtype: object
21 Airline_Name              Air Botswana
Food_&_Beverages                     2
Inflight_Entertainment               0
Seat_Comfort                         2
Staff_Service                        2
Value_for_Money                      2
Review_Count                        22
Rating                               6
Name: 21, dtype: object
22 Airline_Name              Air Burkina
Food_&_Beverages                    4
Inflight_Entertainment              0
Seat_Comfort                        4
Staff_Service                       4
Value_for_Money                     4
Review_Count                        2
Rating                              6
Name: 22, dtype: object
23 Airline_Name              Air Busan
Food_&_Beverages                  3
Inflight_Entertainment            2
Seat_Comfort                      4
Staff_Service                     4
Value_for_Money                   4
Review_Count                     20
Rating                            9
Name: 23, dtype: object
24 Airline_Name              Air Cairo
Food_&_Beverages                  3
Inflight_Entertainment            2
Seat_Comfort                      2
Staff_Service                     3
Value_for_Money                   3
Review_Count                      9
Rating                            6
Name: 24, dtype: object
25 Airline_Name              Air Canada
Food_&_Beverages                   3
Inflight_Entertainment             3
Seat_Comfort                       3
Staff_Service                      3
Value_for_Money                    3
Review_Count                    1551
Rating                             4
Name: 25, dtype: object
26 Airline_Name              Air Canada rouge
Food_&_Beverages                         2
Inflight_Entertainment                   2
Seat_Comfort                             2
Staff_Service                            3
Value_for_Money                          2
Review_Count                          1179
Rating                                   3
Name: 26, dtype: object
27 Airline_Name              Air Caraibes
Food_&_Beverages                     2
Inflight_Entertainment               2
Seat_Comfort                         2
Staff_Service                        2
Value_for_Money                      2
Review_Count                        23
Rating                               4
Name: 27, dtype: object
28 Airline_Name              Air China
Food_&_Beverages                  2
Inflight_Entertainment            2
Seat_Comfort                      3
Staff_Service                     3
Value_for_Money                   3
Review_Count                    749
Rating                            4
Name: 28, dtype: object
29 Airline_Name              Air Corsica
Food_&_Beverages                    3
Inflight_Entertainment              1
Seat_Comfort                        3
Staff_Service                       4
Value_for_Money                     4
Review_Count                        9
Rating                              6
Name: 29, dtype: object
30 Airline_Name              Air Costa
Food_&_Beverages                  3
Inflight_Entertainment            0
Seat_Comfort                      5
Staff_Service                     4
Value_for_Money                   5
Review_Count                      1
Rating                            8
Name: 30, dtype: object
31 Airline_Name              Air Djibouti
Food_&_Beverages                     0
Inflight_Entertainment               0
Seat_Comfort                         4
Staff_Service                        3
Value_for_Money                      3
Review_Count                         1
Rating                               5
Name: 31, dtype: object
32 Airline_Name              Air Dolomiti
Food_&_Beverages                     4
Inflight_Entertainment               3
Seat_Comfort                         3
Staff_Service                        4
Value_for_Money                      3
Review_Count                        61
Rating                               7
Name: 32, dtype: object
33 Airline_Name              Air Europa
Food_&_Beverages                   2
Inflight_Entertainment             2
Seat_Comfort                       3
Staff_Service                      3
Value_for_Money                    2
Review_Count                     391
Rating                             4
Name: 33, dtype: object
34 Airline_Name              Air France
Food_&_Beverages                   3
Inflight_Entertainment             3
Seat_Comfort                       3
Staff_Service                      3
Value_for_Money                    3
Review_Count                    1052
Rating                             5
Name: 34, dtype: object
35 Airline_Name              Air Greenland
Food_&_Beverages                      2
Inflight_Entertainment                1
Seat_Comfort                          2
Staff_Service                         2
Value_for_Money                       2
Review_Count                         14
Rating                                3
Name: 35, dtype: object
36 Airline_Name              Air Iceland Connect
Food_&_Beverages                            5
Inflight_Entertainment                      0
Seat_Comfort                                5
Staff_Service                               5
Value_for_Money                             5
Review_Count                                2
Rating                                     10
Name: 36, dtype: object
37 Airline_Name              Air India
Food_&_Beverages                  3
Inflight_Entertainment            2
Seat_Comfort                      3
Staff_Service                     3
Value_for_Money                   3
Review_Count                    827
Rating                            5
Name: 37, dtype: object
38 Airline_Name              Air India Express
Food_&_Beverages                          2
Inflight_Entertainment                    1
Seat_Comfort                              2
Staff_Service                             3
Value_for_Money                           3
Review_Count                             54
Rating                                    4
Name: 38, dtype: object
39 Airline_Name              Air Italy
Food_&_Beverages                  3
Inflight_Entertainment            3
Seat_Comfort                      3
Staff_Service                     3
Value_for_Money                   3
Review_Count                     31
Rating                            5
Name: 39, dtype: object
40 Airline_Name              Air Juan
Food_&_Beverages                 0
Inflight_Entertainment           0
Seat_Comfort                     2
Staff_Service                    2
Value_for_Money                  1
Review_Count                    23
Rating                           1
Name: 40, dtype: object
41 Airline_Name              Air KBZ
Food_&_Beverages                3
Inflight_Entertainment          0
Seat_Comfort                    4
Staff_Service                   4
Value_for_Money                 4
Review_Count                    9
Rating                          8
Name: 41, dtype: object
42 Airline_Name              Air Koryo
Food_&_Beverages                  3
Inflight_Entertainment            2
Seat_Comfort                      4
Staff_Service                     4
Value_for_Money                   4
Review_Count                     54
Rating                            6
Name: 42, dtype: object
43 Airline_Name              Air Labrador
Food_&_Beverages                     0
Inflight_Entertainment               0
Seat_Comfort                         3
Staff_Service                        4
Value_for_Money                      4
Review_Count                         1
Rating                               2
Name: 43, dtype: object
44 Airline_Name              Air Macau
Food_&_Beverages                  2
Inflight_Entertainment            1
Seat_Comfort                      3
Staff_Service                     3
Value_for_Money                   2
Review_Count                     25
Rating                            4
Name: 44, dtype: object
45 Airline_Name              Air Madagascar
Food_&_Beverages                       2
Inflight_Entertainment                 1
Seat_Comfort                           3
Staff_Service                          3
Value_for_Money                        2
Review_Count                          28
Rating                                 3
Name: 45, dtype: object
46 Airline_Name              Air Malawi
Food_&_Beverages                   0
Inflight_Entertainment             0
Seat_Comfort                       0
Staff_Service                      0
Value_for_Money                    0
Review_Count                       2
Rating                             4
Name: 46, dtype: object
47 Airline_Name              Air Malta
Food_&_Beverages                  2
Inflight_Entertainment            1
Seat_Comfort                      3
Staff_Service                     3
Value_for_Money                   3
Review_Count                    157
Rating                            5
Name: 47, dtype: object
48 Airline_Name              Air Mauritius
Food_&_Beverages                      3
Inflight_Entertainment                2
Seat_Comfort                          2
Staff_Service                         3
Value_for_Money                       3
Review_Count                        177
Rating                                5
Name: 48, dtype: object
49 Airline_Name              Air Mediterranee
Food_&_Beverages                         4
Inflight_Entertainment                   1
Seat_Comfort                             3
Staff_Service                            3
Value_for_Money                          3
Review_Count                             5
Rating                                   4
Name: 49, dtype: object
50 Airline_Name              Air Memphis
Food_&_Beverages                    0
Inflight_Entertainment              0
Seat_Comfort                        0
Staff_Service                       0
Value_for_Money                     2
Review_Count                       20
Rating                              3
Name: 50, dtype: object
51 Airline_Name              Air Moldova
Food_&_Beverages                    3
Inflight_Entertainment              1
Seat_Comfort                        2
Staff_Service                       3
Value_for_Money                     3
Review_Count                       39
Rating                              5
Name: 51, dtype: object
52 Airline_Name              Air Namibia
Food_&_Beverages                    3
Inflight_Entertainment              2
Seat_Comfort                        3
Staff_Service                       4
Value_for_Money                     3
Review_Count                       82
Rating                              6
Name: 52, dtype: object
53 Airline_Name              Air New Zealand
Food_&_Beverages                        3
Inflight_Entertainment                  3
Seat_Comfort                            3
Staff_Service                           4
Value_for_Money                         3
Review_Count                          688
Rating                                  6
Name: 53, dtype: object
54 Airline_Name              Air Niugini
Food_&_Beverages                    3
Inflight_Entertainment              3
Seat_Comfort                        3
Staff_Service                       3
Value_for_Money                     2
Review_Count                       42
Rating                              4
Name: 54, dtype: object
55 Airline_Name              Air North Yukon's Airline
Food_&_Beverages                                  5
Inflight_Entertainment                            0
Seat_Comfort                                      4
Staff_Service                                     5
Value_for_Money                                   3
Review_Count                                      3
Rating                                            6
Name: 55, dtype: object
56 Airline_Name              Air Nostrum
Food_&_Beverages                    2
Inflight_Entertainment              0
Seat_Comfort                        4
Staff_Service                       3
Value_for_Money                     3
Review_Count                       43
Rating                              6
Name: 56, dtype: object
57 Airline_Name              Air Panama
Food_&_Beverages                   2
Inflight_Entertainment             0
Seat_Comfort                       2
Staff_Service                      3
Value_for_Money                    2
Review_Count                      10
Rating                             4
Name: 57, dtype: object
58 Airline_Name              Air Pegasus
Food_&_Beverages                    0
Inflight_Entertainment              0
Seat_Comfort                        4
Staff_Service                       3
Value_for_Money                     2
Review_Count                        3
Rating                              3
Name: 58, dtype: object
59 Airline_Name              Air Rarotonga

In [33]:
DF1 = pd.DataFrame({'Airline_Name': ['AB Aviation', 'Adria Airways', 'Aegean Airline'],
                   'Rating': [4, 6, 8]})

DF2 = pd.DataFrame({'Airline_Name'; ['Aer Lingus', 'Aero VIP', 'Aerocaribbean'],
                   'Rating': [6, 9, 3]})

SyntaxError: invalid syntax (Temp/ipykernel_12732/4084684859.py, line 4)

In [34]:
Just if I want to see the Top 5 Airlines in Alphabetical Order = df.head()

,Airline_Name,Food_&_Beverages,Inflight_Entertainment,Seat_Comfort,Staff_Service,Value_for_Money,Review_Count,Rating
0,AB Aviation,2,0,3,3,2,3,4
1,Adria Airways,3,2,3,3,3,91,6
2,Aegean Airlines,4,2,4,4,4,605,8
3,Aer Lingus,3,2,3,4,3,789,6
4,Aero VIP,0,0,4,4,4,3,9

In [38]:
Merging Data
df1 = pd.DataFrame({'Airline_Name': ['AB Aviation', 'Adria Airways', 'Aegean Airline'],
                   'Rating': [4, 6, 8]})

df2 = pd.DataFrame({'Airline_Name': ['Aer Lingus', 'Aero VIP', 'Aerocaribbean'],
                   'Rating': [6, 9, 3]})

In [39]:
df1

     Airline_Name  Rating
0     AB Aviation       4
1   Adria Airways       6
2  Aegean Airline       8

In [40]:
df2

    Airline_Name  Rating
0     Aer Lingus       6
1       Aero VIP       9
2  Aerocaribbean       3

In [41]:
pd.concat([df1,df2])

     Airline_Name  Rating
0     AB Aviation       4
1   Adria Airways       6
2  Aegean Airline       8
0      Aer Lingus       6
1        Aero VIP       9
2   Aerocaribbean       3

In [ ]:
Functions

In [44]:
a = 2
b = 2

In [45]:
print (a+b)

4

In [46]:
print("hello")

hello

In [51]:
def do_nothing():
    pass

In [52]:
type(do_nothing)

function

In [55]:
Creating a Function That Resembles a String of the Above Data Set. 5 Variables that are split byt the A. You can the use to get the mean score.
A= "2"
B= "0"
C= "3"
D= "3"
E= "2"

In [63]:
A+B+C+D+E

'2A0A3A3A2A'

In [ ]:
Finding Basic Stats

In [65]:
df.describe()

,Food_&_Beverages,Inflight_Entertainment,Seat_Comfort,Staff_Service,Value_for_Money,Review_Count,Rating
count,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000
mean,2.518447,1.440777,2.821359,3.067961,2.953398,206.974757,5.100971
std,1.246454,1.199014,1.035898,1.130254,0.967247,450.330585,1.964049
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,2.000000,0.000000,2.000000,3.000000,2.000000,6.500000,4.000000
50%,3.000000,1.000000,3.000000,3.000000,3.000000,33.000000,5.000000
75%,3.000000,2.000000,3.000000,4.000000,4.000000,165.500000,6.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,3748.000000,10.000000

In [ ]:
Numpy

In [68]:
Numpy in a way, would probably be easier as all my data is numeric except for Airline Name which going forward will make any complex calculations easier to work out = import numpy as np

In [69]:
df=pd.read_csv("data.csv")

In [70]:
df

,Airline_Name,Food_&_Beverages,Inflight_Entertainment,Seat_Comfort,Staff_Service,Value_for_Money,Review_Count,Rating
0,AB Aviation,2,0,3,3,2,3,4
1,Adria Airways,3,2,3,3,3,91,6
2,Aegean Airlines,4,2,4,4,4,605,8
3,Aer Lingus,3,2,3,4,3,789,6
4,Aero VIP,0,0,4,4,4,3,9
...,...,...,...,...,...,...,...,...
510,XL Airways France,3,2,2,3,3,78,5
511,Yakutia Airlines,3,0,3,3,4,4,6
512,Yangon Airways,4,0,5,4,4,4,9
513,Yemenia,0,0,0,0,4,24,4
514,Yeti Airlines,3,0,3,3,4,3,6

In [72]:
See below example using Numpy as it's all numeric.

import numpy as np
arr1 = np.arange(9).reshape(3,3)
arr1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [ ]:
Dictionaries

In [88]:
Using A Dcictionary below, I was Able to determine the score for Staff Servvice for AB Aviation
My_dict = {'Food_&_Berverages':2, 'Inflight_Entertainment':0, 'Seat_Comfort':3, 'Staff_Service':3, 'Value_For_Money':2}

In [90]:
My_dict ['Staff_Service']

3

In [1]:
Same as Above, using a dictionary I was able to check the score Yeti Airlines got for Value For Money
My_dict = {'Food_&_Berverages':3, 'Inflight_Entertainment':0, 'Seat_Comfort':3, 'Staff_Service':3, 'Value_For_Money':4}

In [3]:
My_dict ['Value_For_Money']

4